<nav>
  <ul class="menu">
      <li>
        <a href={% url "inicio" %} class="menu__link">Inicio</a>
      </li>
      <li>
        <a href={% url "nosotros" %} class="menu__link">Nosotros</a>
      </li>
      <li>
          <a href={% url "servicios" %} class="menu__link">Servicios</a>
      </li>
      <li>
          <a href={% url "blog" %} class="menu__link">Blog</a>
      </li>
      <li>
          <a href={% url "contactanos" %} class="menu__link menu__link--active">Contáctanos</a>
      </li>
  </ul>
</nav>
