<section class="seccion_formulario">
  <article class="card">
    <form action="{% url 'save_poblacion' %}" method="post">
      {% csrf_token %}
      <div class="control">
        <label for="nombre_poblacion">Nombre población</label>
        <input type="text" id="nombre_poblacion" name="nombre_poblacion" required>
      </div>
      <div>
        <label for="pais_id">Pais de ubicación</label>
        <select id="pais_id" name="pais_id">
          {% for pais in paises %}
          <option value={{ pais.id }}>{{ pais.nombre_pais }}</option>
          {% endfor %}
          <select>
      </div>
      <div>
        <button type="submit">Registrar</button>
      </div>
    </form>
  </article>
</section>

